@charset "UTF-8";

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-UI-Display-Bold.woff2") format("woff2"), url("../fonts/SF-UI-Display-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-UI-Display-Medium.woff2") format("woff2"), url("../fonts/SF-UI-Display-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-UI-Display-Regular.woff2") format("woff2"), url("../fonts/SF-UI-Display-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SF;
  font-display: swap;
  src: url("../fonts/SF-UI-Display-Semibold.woff2") format("woff2"), url("../fonts/SF-UI-Display-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "SF";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SF";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 100.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.billboard {
  position: relative;
  background: #BC88FF;
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.billboard__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.billboard__text {
  margin-right: 250px;
}

.billboard__picture-ibg {
  min-width: 250px;
  min-height: 250px;
  position: relative;
}

@supports (min-width: clamp( 9.375rem , 5.8092313788rem  +  15.8478605388vw , 15.625rem )) {
  .billboard__picture-ibg {
    min-width: clamp( 9.375rem , 5.8092313788rem  +  15.8478605388vw , 15.625rem );
  }
}

@supports not (min-width: clamp( 9.375rem , 5.8092313788rem  +  15.8478605388vw , 15.625rem )) {
  .billboard__picture-ibg {
    min-width: calc(9.375rem + 6.25 * (100vw - 22.5rem) / 39.4375);
  }
}

@supports (min-height: clamp( 9.375rem , 5.8092313788rem  +  15.8478605388vw , 15.625rem )) {
  .billboard__picture-ibg {
    min-height: clamp( 9.375rem , 5.8092313788rem  +  15.8478605388vw , 15.625rem );
  }
}

@supports not (min-height: clamp( 9.375rem , 5.8092313788rem  +  15.8478605388vw , 15.625rem )) {
  .billboard__picture-ibg {
    min-height: calc(9.375rem + 6.25 * (100vw - 22.5rem) / 39.4375);
  }
}

.billboard__picture-ibg::after {
  content: "";
  position: absolute;
  bottom: 18%;
  right: 0;
  width: 157px;
  height: 157px;
  background: #FFE041;
  border-radius: 50%;
  z-index: 1;
}

@supports (width: clamp( 3.5625rem , -0.0032686212rem  +  15.8478605388vw , 9.8125rem )) {
  .billboard__picture-ibg::after {
    width: clamp( 3.5625rem , -0.0032686212rem  +  15.8478605388vw , 9.8125rem );
  }
}

@supports not (width: clamp( 3.5625rem , -0.0032686212rem  +  15.8478605388vw , 9.8125rem )) {
  .billboard__picture-ibg::after {
    width: calc(3.5625rem + 6.25 * (100vw - 22.5rem) / 39.4375);
  }
}

@supports (height: clamp( 3.5625rem , -0.0032686212rem  +  15.8478605388vw , 9.8125rem )) {
  .billboard__picture-ibg::after {
    height: clamp( 3.5625rem , -0.0032686212rem  +  15.8478605388vw , 9.8125rem );
  }
}

@supports not (height: clamp( 3.5625rem , -0.0032686212rem  +  15.8478605388vw , 9.8125rem )) {
  .billboard__picture-ibg::after {
    height: calc(3.5625rem + 6.25 * (100vw - 22.5rem) / 39.4375);
  }
}

.billboard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.billboard__picture-ibg img {
  z-index: 2;
}

@supports (font-size: clamp( 2.1875rem , -0.610706278rem  +  5.8295964126vw , 3rem )) {
  .billboard__text .text__title {
    font-size: clamp( 2.1875rem , -0.610706278rem  +  5.8295964126vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , -0.610706278rem  +  5.8295964126vw , 3rem )) {
  .billboard__text .text__title {
    font-size: calc(2.1875rem + 0.8125 * (100vw - 48rem) / 13.9375);
  }
}

@supports (line-height: clamp( 2.75rem , -0.048206278rem  +  5.8295964126vw , 3.5625rem )) {
  .billboard__text .text__title {
    line-height: clamp( 2.75rem , -0.048206278rem  +  5.8295964126vw , 3.5625rem );
  }
}

@supports not (line-height: clamp( 2.75rem , -0.048206278rem  +  5.8295964126vw , 3.5625rem )) {
  .billboard__text .text__title {
    line-height: calc(2.75rem + 0.8125 * (100vw - 48rem) / 13.9375);
  }
}

.billboard-button {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 20px;
  max-width: 250px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 0 15px;
}

.billboard-button:hover {
  background: #FFFFFF;
}

.button-billboard-search {
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 125px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.button-billboard-search:hover {
  background: #FFE041;
  border: 1px solid #FFE041;
}

.billboard__picture-wrapper {
  right: 30px;
  position: absolute;
  top: 0;
}

.rating {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  position: relative;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "☆☆☆☆☆";
  font-family: icons;
  font-size: 32px;
  color: #0075FF;
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  font-family: icons;
  font-size: 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #0075FF;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
}

.store {
  margin-bottom: 64px;
}

.text-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.text-store__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}

.text-store__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #0075FF;
}

.cards-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-store__card {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 8px 24px 8px;
  height: 240px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  position: relative;
  background: #E8E8E8;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0px rgb(255, 255, 255);
          box-shadow: 0 0 0px rgb(255, 255, 255);
}

@supports (height: clamp( 15rem , 15rem  +  0vw , 15rem )) {
  .cards-store__card {
    height: clamp( 15rem , 15rem  +  0vw , 15rem );
  }
}

@supports not (height: clamp( 15rem , 15rem  +  0vw , 15rem )) {
  .cards-store__card {
    height: calc(15rem + 0 * (100vw - 22.5rem) / 97.5);
  }
}

.cards-store__card-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #333333;
}

.cards-store__card:hover {
  -webkit-box-shadow: 0 0 5px blue;
          box-shadow: 0 0 5px blue;
}

.cards-store__card-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  position: relative;
}

.check-card {
  position: absolute;
  right: 8px;
  top: 8px;
}

.cards-store__name {
  margin-top: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #0075FF;
}

.cards-store__price {
  margin-top: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #333333;
}

.cards-store__location {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.cards-store__data {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.check-card input[type=checkbox] {
  height: 0;
  width: 0;
  display: none;
}

.check-card input[type=checkbox] + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  cursor: pointer;
}

.check-card input[type=checkbox] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  -o-transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
}

.check-card input[type=checkbox] + label > ins > i {
  position: absolute;
  bottom: 0;
  font-style: normal;
}

.check-card input[type=checkbox] + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: url("../img/heart-border.svg") center center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.check-card input[type=checkbox] + label:hover,
.check-card input[type=checkbox]:focus + label {
  color: rgb(0, 0, 0);
}

.check-card input[type=checkbox] + label:hover > span,
.check-card input[type=checkbox]:focus + label > span {
  -webkit-box-shadow: 0 0 5px yellow;
          box-shadow: 0 0 5px yellow;
}

.check-card input[type=checkbox]:checked + label > ins {
  height: 100%;
}

.check-card input[type=checkbox]:checked + label > span {
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  background: yellow url("../img/heart-border.svg") center center no-repeat;
  background-size: 24px 24px;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: #6A6A6A;
  text-align: left;
  border: 1px solid #6A6A6A;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9px;
  height: 5px;
  background: url("../img/arrow.svg") center center no-repeat;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 42px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #b67eff;
  border-top: 0;
  border: 1px solid #d9d9d9;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 1;
}

._select-tag {
  cursor: pointer;
}

.select__value .select__content {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.select-categories ~ .select__body {
  width: 238px;
}

.select-region ~ .select__body {
  width: 180px;
}

.select-sity ~ .select__body {
  width: 160px;
}

.header__top {
  height: 60px;
  background: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

@supports (font-size: clamp( 1.125rem , 1.0384615385rem  +  0.3846153846vw , 1.5rem )) {
  .header__logo {
    font-size: clamp( 1.125rem , 1.0384615385rem  +  0.3846153846vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0384615385rem  +  0.3846153846vw , 1.5rem )) {
  .header__logo {
    font-size: calc(1.125rem + 0.375 * (100vw - 22.5rem) / 97.5);
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  color: white;
}

.menu__body {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (margin-left: clamp( 0.0000000625rem , -8.2758617996rem  +  17.2413788793vw , 2.5rem )) {
  .menu__body {
    margin-left: clamp( 0.0000000625rem , -8.2758617996rem  +  17.2413788793vw , 2.5rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -8.2758617996rem  +  17.2413788793vw , 2.5rem )) {
  .menu__body {
    margin-left: calc(0.0000000625rem + 2.4999999375 * (100vw - 48rem) / 14.5);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._menu-active {
  left: 0% !important;
}

.menu__link:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-favorites {
  padding-left: 32px;
  background: url("../img/heart-white.svg") left center no-repeat;
  background-size: 20px;
}

.item-entry {
  margin-left: 25px;
}

.button-place-ad {
  background: #BC88FF;
  border-radius: 42px;
  padding: 10px 13px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 40px;
  text-align: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.list-group {
  gap: 10px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.header__text {
  margin-top: 24px;
  margin-bottom: 27px;
  text-align: center;
}

.header__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #333333;
  margin-bottom: 27px;
}

.text__paragraf {
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #333333;
}

.select-link-ad {
  color: #6A6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #6A6A6A;
  border-radius: 20px;
  background-color: #fff;
  padding: 0 15px;
  max-width: 400px;
  height: 40px;
}

.button-search-sort {
  color: #000000;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FFE041;
  border-radius: 20px;
  background: #FFE041;
  padding: 0 15px;
  max-width: 125px;
}

.header__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.check-sort input[type=checkbox] {
  height: 0;
  width: 0;
  display: none;
}

.check-sort input[type=checkbox] + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  color: #333333;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.check-sort input[type=checkbox] + label > ins {
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  -o-transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: height 300ms cubic-bezier(0.4, 0, 0.23, 1);
}

.check-sort input[type=checkbox] + label > ins > i {
  position: absolute;
  bottom: 0;
  font-style: normal;
}

.check-sort input[type=checkbox] + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 1px solid #6A6A6A;
  border-radius: 42px;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  -o-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.check-sort input[type=checkbox] + label:hover,
.check-sort input[type=checkbox]:focus + label {
  color: rgb(0, 0, 0);
}

.check-sort input[type=checkbox]:checked + label > ins {
  height: 100%;
}

.check-sort input[type=checkbox]:checked + label > span {
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  background: #BC88FF;
  border: 1px solid #BC88FF;
  color: #fff;
  background-size: contain;
}

.header__check {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px 24px;
}

@media (max-width: 61.99875em) {
  .billboard__buttons {
    margin-top: 45px;
  }

  .item-entry {
    margin-left: 0px;
  }

  .button-place-ad {
    margin-top: 12px;
    margin-left: 0px;
  }

  .list-group {
    margin: 0 auto !important;
  }
}

@media (max-width: 48.06125em) {
  .billboard {
    margin-top: 100px;
  }

  .billboard__text {
    margin-right: 0px;
  }

  .billboard__picture-ibg::after {
    bottom: 40%;
    right: 20px;
  }

  .billboard__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .billboard__picture-wrapper {
    top: -115px;
    right: -10px;
  }

  .cards-store__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }

  .cards-store__card-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }

  .container-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .icon-menu {
    position: relative;
    width: 30px;
    height: 20px;
    display: block;
  }

  .icon-menu span {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    width: 100%;
    height: 2px;
    background: white;
    display: block;
  }

  .icon-menu span::after {
    content: "";
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
  }

  .icon-menu span::before {
    content: "";
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
  }

  ._icon-menu-active span {
    width: 0%;
    height: 2px;
    background: white;
    display: block;
  }

  ._icon-menu-active span::after {
    content: "";
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: rotate(45deg) translate(0%, -50%);
        -ms-transform: rotate(45deg) translate(0%, -50%);
            transform: rotate(45deg) translate(0%, -50%);
  }

  ._icon-menu-active span::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transform: rotate(-45deg) translate(0%, -50%);
        -ms-transform: rotate(-45deg) translate(0%, -50%);
            transform: rotate(-45deg) translate(0%, -50%);
  }

  .menu {
    position: absolute;
    top: 60px;
    left: -100%;
    z-index: 50;
    width: 100%;
    background: #2C2C2C;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
    padding: 0px 15px 30px 15px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
  }

  .menu__item {
    padding: 12px 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    font-size: 25px;
  }

  .item-favorites {
    padding-left: 12px;
    background: none;
  }

  .list-group {
    gap: 0px 0px;
  }

  .header__sort {
    gap: 15px;
  }

  .header__check {
    gap: 15px;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #0075FF;
  }
}